<div class="adaptive-banner loading" style="width: 100%;">
    <div class="mask left" style="position: absolute;">
    
    </div>
    <button class="page prev" style="position: absolute; visibility: hidden;" type="button"></button>
    <ul class="list">
        
    </ul>
    <button class="page next" style="position: absolute; visibility: hidden;" type="button"></button>
    <div class="mask right" style="position: absolute;">
        
    </div>
</div>