<div class="box">
    <a href="javascript: void(0);" class="quit"></a>
    <a href="javascript: void(0);" class="prev page-control"></a>
    <div class="viewer">
        <img src="/static/image/widget/imageviewer4pc/loading.gif?__inline" class="loading img"/>
    </div>
    <a href="javascript: void(0);" class="next page-control"></a>
    <div class="num">
        <span class="cur"></span>/<span class="count"></span>
    </div>
</div>